{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Monitoring </title>

{% endblock title %}

{% block content %}

{% include 'navbar.html' %}


<!-- Header Section -->
<div class="container text-center py-5 main-content">
    <h1 class="display-4 fw-bold">Monitoring Dashboard</h1>
    <p class="lead">Discover how monitoring enhances performance and reliability.</p>
  </div>
  
  <!-- Features Section -->
  <div class="container">
    <div class="row gy-5">
      <!-- Feature 1 -->
      <div class="col-md-4 d-flex flex-column align-items-center text-center" data-aos="fade-up" data-aos-delay="100">
        <img src="{% static 'assets/img/montoring1.jpeg' %}" class="img-fluid rounded mb-3" alt="Monitoring Feature 1">
        <h3>Real-Time Monitoring</h3>
        <p>Stay updated with real-time insights into system performance and resource utilization to ensure optimal operations at all times.</p>
      </div>
  
      <!-- Feature 2 -->
      <div class="col-md-4 d-flex flex-column align-items-center text-center" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'assets/img/monitoring2.jpeg' %}" class="img-fluid rounded mb-3" alt="Monitoring Feature 2">
        <h3>Error Detection</h3>
        <p>Identify issues early and implement corrective measures before they escalate, ensuring system stability and reliability.</p>
      </div>
  
      <!-- Feature 3 -->
      <div class="col-md-4 d-flex flex-column align-items-center text-center" data-aos="fade-up" data-aos-delay="300">
        <img src="{% static 'assets/img/monitoring4.jpeg' %}" class="img-fluid rounded mb-3" alt="Monitoring Feature 3">
        <h3>Performance Analytics</h3>
        <p>Analyze key performance indicators to make data-driven decisions and optimize operations for better outcomes.</p>
      </div>
    </div>
  </div>


{% include 'services.html' %} 







{% endblock content %}