{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Pricing </title>

{% endblock title %}

{% block content %}

{% include 'navbar.html' %}

<!-- Pricing Section -->
<section id="pricing" class="pricing section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
    <h2>SupportPulse Pricing Plans</h2>
    <p>All packed with smart support features designed to match your business needs.</p>
    <p>Start your free 14‑day SupportPulse trial today and With full access to the Corporation Plan. No credit card required. Cancel anytime. </p>
    </div><!-- End Section Title -->

    <div class="container">

    <div class="row gy-4">

    <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="pricing-item">
            <h3>Small Enterprise Plan</h3>
            <p class="description">For startups and small teams just getting started.</p>
            <h4><sup>Ksh</sup>2000<span> / month</span></h4>
            <a href="#" class="cta-btn">Start a 14-day free trial</a>
            <p class="text-center small">No credit card required</p>
            <ul>
            <li><i class="bi bi-check"></i> <span>Smart ticket routing (limited capacity)</span></li>
            <li><i class="bi bi-check"></i> <span>Email support integration</span></li>
            <li><i class="bi bi-check"></i> <span>Knowledge base access</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>Custom domain support</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>Advance analytics</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>Multi-channel support</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>Unlimited team members</span></li>
        </ul>
        </div>
    </div><!-- End Pricing Item -->

<div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
    <div class="pricing-item featured">
    <p class="popular">Popular</p>
        <h3>Business Plan</h3>
        <p class="description">For growing businesses ready to scale operations.</p>
        <h4><sup>Ksh</sup>5000<span> / month</span></h4>
        <a href="#" class="cta-btn">Start a 14-day free trial</a>
        <p class="text-center small">No credit card required</p>
        <ul>
            <li><i class="bi bi-check"></i> <span>Smart ticket routing (limited capacity)</span></li>
            <li><i class="bi bi-check"></i> <span>Email support integration</span></li>
            <li><i class="bi bi-check"></i> <span>Knowledge base access</span></li>
            <li><i class="bi bi-check"></i> <span>Custom domain support</span></li>
            <li><i class="bi bi-check"></i> <span>Advance analytics</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>Multi-channel support</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>Unlimited team members</span></li>
        </ul>
        </div>
    </div><!-- End Pricing Item -->

    <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="pricing-item">
            <h3>Corporation Plan</h3>
            <p class="description">For large-scale operations requiring full support with no limits.</p>
            <h4><sup>Ksh</sup>10000<span> / month</span></h4>
            <a href="#" class="cta-btn">Start a 14-day free trial</a>
            <p class="text-center small">No credit card required</p>
        <ul>
            <li><i class="bi bi-check"></i> <span>Smart ticket routing (limited capacity)</span></li>
            <li><i class="bi bi-check"></i> <span>Email support integration</span></li>
            <li><i class="bi bi-check"></i> <span>Knowledge base access</span></li>
            <li><i class="bi bi-check"></i> <span>Custom domain support</span></li>
            <li><i class="bi bi-check"></i> <span>Advance analytics</span></li>
            <li><i class="bi bi-check"></i> <span>Multi-channel support</span></li>
            <li><i class="bi bi-check"></i> <span>Unlimited team members</span></li>
        </ul>
        </div>
    </div><!-- End Pricing Item -->

    </div>

</div>

</section><!-- /Pricing Section -->

{% include 'footer.html' %} 

{% endblock content %}