{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Services </title>

{% endblock title %}

{% block content %}

{% include 'navbar.html' %}


    <!-- Services Section -->
    <section id="services" class="services section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
       

        <div class="container">

        <div class="row g-5">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
            <i class="bi bi-activity icon"></i>
            <div>
                <h3>Keep track of your progress</h3>
                <p>Always be aware of the scope of your work. You can easily spot the  unresolved customer cases. Manage your time smartly and make the most of it.</p>
                <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
        </div>
            </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
            <i class="bi bi-broadcast icon"></i>
            <div>
                <h3>Enhance Customer Engagement</h3>
                <p>Build stronger relationships with your customers through personalized communication channels. Deliver exceptional experiences that drive loyalty and satisfaction.</p>
                <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
            </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
            <i class="bi bi-easel icon"></i>
            <div>
                <h3>Monitor Real-Time Insights</h3>
                <p>Gain instant access to valuable analytics and performance metrics. Make informed decisions with data at your fingertips, anytime and anywhere.</p>
                <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
            </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item item-red position-relative">
            <i class="bi bi-bounding-box-circles icon"></i>
            <div>
                <h3>Boost Team Collaboration</h3>
                <p>Enable your team to work smarter with integrated collaboration tools. Share ideas, manage projects, and achieve goals together more effectively.</p>
                <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
            </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item item-indigo position-relative">
            <i class="bi bi-calendar4-week icon"></i>
            <div>
                <h3>Ensure Top-Notch Security</h3>
                <p>Protect sensitive data with advanced encryption and multi-layered security protocols. Trust that your operations are safeguarded every step of the way.</p>
                <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
            </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item item-pink position-relative">
            <i class="bi bi-chat-square-text icon"></i>
            <div>
                <h3>Streamline Your Workflow</h3>
                <p>Effortlessly organize your daily tasks with advanced tools designed to simplify complex processes. Stay on top of priorities and meet deadlines seamlessly.</p>
                <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
            </div>
        </div><!-- End Service Item -->

        </div>

    </div>

    </section><!-- /Services Section -->

    







{% endblock content %}
